/* CSS declarations go here */
div#mesh {
  border-top: 20px solid #85B1E3;
}
div#mesh {
  width: 320px;
  height: 320px;
  margin: 10px 0 10px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #999999;
  font-size: 140%;
}
div {
  display: block;
}
div#mesh li {
  margin: 0;
  padding: 0;
  float: left;
  width: 80px;
  height: 80px;
  vertical-align: top;
  border-bottom: 20px solid #85B1E3;
  border-right: 20px solid #85B1E3;
  list-style: none;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
}
